/* Header */
.header {
    background-color: #EFEFEF;
    position: sticky;
    z-index: 2;
    top: 0;
    box-shadow: 0 1px 3px 0 #ddd;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    height: 100px;
}

.header .inner-wrap .inner-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner-wrap .inner-logo .inner-image {
    width: 50px;
}

.header .inner-wrap .inner-logo a {
    text-decoration: none;
    color: black;
    margin: 0px 6px;
    font-size: 12px;
}

.header .inner-wrap .inner-logo .inner-name {
    margin-bottom: 0px;
}


.header .inner-wrap .inner-logo img {
    width: 100%;
}

.header .inner-wrap .inner-menu {
    height: 100%;
}

.header .inner-wrap .inner-menu .inner-list {
    height: 100%;
}

.header .inner-wrap .inner-menu ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header .inner-wrap .inner-menu ul li {
    padding: 0px 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .inner-wrap .inner-menu ul li:hover {
    background-color: white;
}

.header .inner-wrap .inner-menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;

}

.header .inner-wrap .inner-social {
    height: 100%;
    display: flex;
    align-items: center;
}

.header .inner-wrap .inner-social ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    padding-left: 0px;
    margin: 0px;
}

.header .inner-wrap .inner-social ul .inner-item {
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    margin: 0px 8px;
}

.header .inner-wrap i {
    color: black;
    font-size: 24px;
}

.header .inner-wrap .inner-nav {
    display: none;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {
    .header .inner-menu {
        display: none;
    }

    .header .inner-social .inner-list {
        display: none;
    }

    .header .inner-wrap .inner-nav {
        display: inline;
    }

}

@media (max-width:767.98px) {}

/* End Header */
/* Section 1 */
.section-1 {
    background: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 130px 0px;
}

.section-1 .overlay {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

}

.section-1 .container {
    position: relative;
}

.section-1 .inner-wrap {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 50%;
    color: white;
}

.section-1 .inner-wrap .inner-company {
    font-size: 16px;
    margin-bottom: 16px;
}

.section-1 .inner-content {
    margin-bottom: 32px;
}

.section-1 .inner-wrap .inner-title {
    font-size: 60px;
    margin-bottom: 32px;
}

.section-1 .inner-wrap .inner-des {
    font-size: 18px;
    color: var(--color-text);
    font-weight: 500;
    line-height: 24px;
}

@media (max-width:991.98px) {
    .section-1 .inner-wrap {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .section-1 .inner-wrap{
        text-align: center;
    }
}
    
/* End Section 1 */

/* Section 2 */
.section-2 {
    padding: 80px 0px;
    background-color: var(--background-color);
}

.section-2 .inner-block {
    display: flex;
}

.section-2 .block-1 {
    margin-bottom: 150px;
    justify-content: space-between;
}

.section-2 .block-1 img {
    width: 100%;
    border-radius: 10px;
}

.section-2 .block-1 .inner-image {
    width: 45%;
}

.section-2 .block-1 .inner-content {
    width: 50%;

    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0px;
}

.section-2 .block-1 .inner-note {
    color: var(--color-text);
    font-size: 18px;
    margin-bottom: 16px;
}

.section-2 .block-1 .inner-title {
    font-size: 60px;
    margin-bottom: 16px;
}

.section-2 .block-1 .inner-list {
    margin-bottom: 32px;
}

.section-2 .block-1 .inner-list ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    padding: 0px;
    width: 100%;

}

.section-2 .block-1 .inner-list ul li {
    background-color: #fff;
    border-radius: 10px;
    width: calc(100%/3 - 32px);
    padding: 16px 0px;
    text-align: center;
    margin-right: 16px;
    
}

.section-2 .block-1 .inner-list ul li:last-child{
    margin-right: 0px ;
}

.section-2 .block-1 .inner-list i {
    color: #FF8484;
    font-size: 32px;
    margin-bottom: 16px;
}

.section-2 .block-1 .inner-list p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}

.section-2 .block-1 .inner-des {
    font-size: 18px;
    margin-bottom: 32px;
}

.section-2 .block-2 .inner-content {
    background-color: #fff;
    width: 100%;
    position: relative;
    padding: 48px;
    border-radius: 10px;
}

.section-2 .block-2 .inner-note {
    color: var(--color-text);
    font-size: 18px;
    width: 50%;
}

.section-2 .block-2 .inner-title {
    font-size: 60px;
    width: 50%;
}

.section-2 .block-2 .inner-image {
    width: 350px;
    position: absolute;
    bottom: 0px;
    right: 60px;
}

.section-2 .block-2 .inner-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

@media (max-width:1199.98px) {
    .section-2 .block-1 .inner-list ul {
        flex-wrap: wrap;
        justify-content: center;

}

.section-2 .block-1 .inner-list ul li {
    width: calc(100%/2 - 32px);
    padding: 16px 0px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    
}
}

@media (max-width:991.98px) {
    .section-2 .block-1 {
        display: block;
    }

    .section-2 .block-1 .inner-image {
        width: 100%;
    }

    .section-2 .block-1 .inner-content {
        width: 100%;
    }

    .section-2 .block-1 .inner-title {
        font-size: 50px;
        line-height: 1.1;
    }

    .section-2 .block-1 .inner-list ul {
        justify-content: left;
    }

    .section-2 .block-1 .inner-list ul li {
        margin-right: 24px;
    }

    .section-2 .block-2 .inner-content {
        display: block;
        padding-bottom: 0px;
    }

    .section-2 .block-2 .inner-note {
        width: 100%;
    }

    .section-2 .block-2 .inner-title {
        width: 100%;
        font-size: 50px;
    }

    .section-2 .block-2 .inner-image {
        position: relative;
        width: 100%;
        text-align: center;
        right: 0px;
        bottom: auto;

    }
}

@media (max-width:767.98px) {
    .section-2 .block-1{
        text-align: center;
    }

    .section-2 .block-2{
        text-align: center;
    }

    .section-2 .block-1 .inner-list ul {
        justify-content: center;
    }

}

/* End Section 2 */

/* Section 3 */
.section-3 {
    padding: 80px 0px;
}

.section-3 .inner-wrap {
    padding: 0px 15px;
}

.section-3 .inner-wrap .inner-title {
    font-size: 26px;
}

.section-3 .inner-wrap .inner-des {
    font-size: 18px;
    line-height: 25px;
    color: var(--color-text);
}

.section-3 .inner-list ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-3 .inner-list ul li {
    width: calc(100%/3 - 10px);
    margin-bottom: 24px;
}

.section-3 .inner-list i {
    padding: 16px 24px;
    background-color: var(--background-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 16px;
}

.section-3 .inner-list .inner-goal {
    color: var(--color-text);
    font-size: 18px;

}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {
    .section-3 .inner-list ul {
        display: block;
    }

    .section-3 .inner-list ul li {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .section-3 .inner-wrap{
        text-align: center;
    }

    .section-3 .inner-list{
        text-align: left;
    }
}

/* End Section 3 */

/* Section 4 */
.section-4 {
    background-color: var(--background-color);
    padding: 80px 0px;
}

.section-4 .inner-wrap .inner-title {
    text-align: center;
    font-size: 58px;
}

.section-4 .inner-list {
    display: flex;
    justify-content: space-between;
}

.section-4 .inner-list .inner-box {
    width: calc(100%/3 - 20px);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.section-4 .inner-box .inner-image {
    width: 100%;
    height: 240px;
    position: relative;
}

.section-4 .inner-box .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-4 .inner-box .inner-image i {
    position: absolute;
    bottom: -24px;
    right: 30px;
    padding: 18px 28px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 0 0 #ddd;
}

.section-4 .inner-box .inner-content {
    padding: 32px;
}

.section-4 .inner-box .inner-note {
    margin-bottom: 8px;
    font-size: 18px;
    color: var(--color-text);
}

.section-4 .inner-box .inner-work {
    font-size: 24px;
    margin-bottom: 16px;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {

    .section-4 .inner-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-4 .inner-list .inner-box {
        width: calc(100%/2 - 35px);
        margin: 15px;
    }
}

@media (max-width:767.98px) {
    .section-4 .inner-list .inner-box {
        width: 100%;
    }
}

/* End Section 4 */

/* Section 5 */
.section-5 {
    padding: 80px 0px;
    background-color: #1B2026;
}

.section-5 .inner-wrap {
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.section-5 .inner-wrap .inner-content {
    width: 50%;
}

.section-5 .inner-content .inner-note {
    font-size: 18px;
    color: var(--color-text);
}

.section-5 .inner-content .inner-title {
    font-size: 60px;
    margin-bottom: 16px;
}

.section-5 .inner-list {
    width: 40%;
}

.section-5 .inner-list .inner-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-bottom: 16px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: var(--color-text);
}

.section-5 .inner-box .inner-first-path {
    display: flex;
    font-size: 18px;
}

.section-5 .inner-box .inner-first-path .inner-work{
    margin-bottom: 0px;
}

.section-5 .inner-box .inner-first-path i {
    margin-right: 10px;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {

    .section-5 .inner-wrap {
        display: block;
    }

    .section-5 .inner-wrap .inner-content {
        width: 100%;
    }

    .section-5 .inner-wrap .inner-content .inner-title {
        font-size: 48px;
    }

    .section-5 .inner-wrap .inner-list {
        width: 100%;
    }
}

@media (max-width:767.98px) {
    .section-5 .inner-wrap{
        text-align: center;
    }
}

@media (max-width:576px) {
    .section-5 .inner-box .inner-first-path{
        display: inline;
    }
    .section-5 .inner-box .inner-first-path i{
        margin-right: 0px;
    }
}

/* End Section 5 */

/* Section 6 */
.section-6 {
    background-color: var(--background-color);
    padding: 80px 0px;
}

.section-6 .inner-wrap .inner-note {
    text-align: center;
    color: var(--color-text);
    font-size: 18px;
}

.section-6 .inner-wrap .inner-title {
    text-align: center;
    font-size: 58px;
}

.section-6 .inner-wrap .block-1 {
    margin-bottom: 80px;
}

.section-6 .block-1 .inner-list {
    display: flex;
    justify-content: space-between;
}

.section-6 .block-1 .inner-list .inner-box {
    width: calc(100%/4 - 32px);
    background-color: #fff;
    border-radius: 10px;
}

.section-6 .block-1 .inner-box .inner-image {
    width: 100%;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 32px;

}

.section-6 .block-1 .inner-box .inner-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}

.section-6 .block-1 .inner-box .inner-content {
    text-align: center;
}

.section-6 .block-1 .inner-box .inner-content .inner-name {
    font-size: 26px;
    margin-bottom: 8px;
}

.section-6 .block-1 .inner-box .inner-content .inner-position {
    font-size: 16px;
    color: var(--color-text);
    margin-bottom: 48px;
}


.section-6 .block-1 .inner-content .inner-social i:last-child {
    margin-right: 0;
}

.section-6 .block-2 .inner-image {
    width: 100%;
}

.section-6 .block-2 .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-6 .block-2 .inner-preview {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: -50px;
    z-index: 1;
    width: 90%;
    justify-content: space-between;
    padding: 24px 32px;

}

.section-6 .block-2 .inner-list {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.section-6 .block-2 .inner-list .inner-item-note {
    margin-bottom: 16px;
    color: var(--color-text);
}

.section-6 .block-2 .inner-list .inner-item-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {

    .section-6 .block-1 .inner-list {
        flex-wrap: wrap;
    }

    .section-6 .block-1 .inner-list .inner-box {
        width: calc(100%/2 - 16px);
        margin-bottom: 32px;
    }

    .section-6 .block-2 .inner-preview {
        display: block;
    }

    .section-6 .block-2 .inner-list {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    .section-6 .block-2 .inner-list .inner-item {
        width: 50%;
        margin-bottom: 16px;
    }

}

@media (max-width:767.98px) {

    .section-6 .block-2{
        text-align: center;
    }

    .section-6 .block-2 .inner-list{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width:575.98px) {
    .section-6 .block-1 .inner-list .inner-box{
        width: 100%;
    }
}

/* End Section 6 */

/* Section 7 */
.section-7 {
    background-color: #31363B;
    padding: 80px 0px;
}


.section-7 .inner-note {
    color: var(--color-text);
    font-size: 18px;
    margin-bottom: 8px;
}

.section-7 .inner-title {
    color: #fff;
    font-size: 56px;
}

.section-7 .inner-list {
    display: flex;
    justify-content: space-between;
}

.section-7 .inner-item {
    width: calc(100%/3 - 20px);
    background-color: #fff;
    padding: 48px;
    border-radius: 10px;
}

.section-7 .inner-item .inner-item-feedback {
    color: var(--color-text);
    font-size: 23px;
    line-height: 36px;
  

}


.section-7 .inner-item .inner-item-client {
    display: flex;
    position: relative;
    align-items: center;

}

.section-7 .inner-item-client img {
    width: 70px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 16px;
}

.section-7 .inner-comma {
    position: absolute;
    top: -60px;
    right: 0px;
    font-size: 52px;
    color: var(--color-text);
}

.section-7 .inner-item-client .inner-profile .inner-name {
    margin-bottom: 12px;
}

.section-7 .inner-item-client .inner-profile .inner-position {
    margin-bottom: 0px;
    color: var(--color-text);
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {

    .section-7 .inner-list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .section-7 .inner-item {
        width: calc(100%/2 - 32px);
        margin: 0px 16px;
        margin-bottom: 32px;
    }
}

@media (max-width:767.98px) {}
@media (max-width:575.98px) {
    .section-7 .inner-wrap{
        text-align: center;
    }
    .section-7 .inner-item{
        width: 100%;
        padding: 16px;
    }
}

/* End Section 7 */

/* Section 8 */
.section-8 {
    background-color: #DAE6E9;
    padding: 80px 0px;
}

.section-8 .inner-title {
    font-size: 52px;
    text-align: center;
    margin-bottom: 48px;
}

.section-8 .inner-video {
    background: url(../images/background4.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {}

@media (max-width:767.98px) {
    .section-8 .inner-video{
        min-height: 300px;
    }
}

@media (max-width:575.98px) {
    .section-8 .inner-video{
        min-height: 300px;
    }
}

/* End Section 8 */

/* Section 9 */

.section-9 {
    padding: 80px 0px;
}

.section-9 .inner-wrap {
    background-color: #DAE6E9;
    padding: 80px;
    border-radius: 10px;
}

.section-9 .inner-wrap .inner-note {
    color: var(--color-note);
    margin-bottom: 8px;
}

.section-9 .inner-wrap .inner-title {
    font-size: 52px;
    margin-bottom: 32px;
}

.section-9 .inner-wrap form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: right;
}

.section-9 .inner-form .inner-item {
    width: 33%;
    height: 56px;
    border-radius: 10px;
    padding: 16px 24px;
    border: none;
}

.section-9 .inner-form .inner-textarea {
    width: 100%;
    margin: 16px 0px;
    height: 200px;
    border-radius: 10px;
    padding: 16px 24px;
    border: none;
}

.section-9 .inner-form .button {
    width: 100%;
    text-align: right;
}

@media (max-width:1199.98px) {}

@media (max-width:991.98px) {
    .section-9 .inner-form .inner-item {
        width: 100%;
        margin-bottom: 24px;
    }

    .section-9 .inner-form .inner-textarea {
        margin-top: 0px;
    }
}

@media (max-width:767.98px) {}

/* End Section 9 */

/* Footer */
.footer {
    background-color: #14191E;
    padding: 40px;
}

.footer .title-footer {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

/* End Footer */
/* button */
.btn {
    padding: 16px 32px;
    background-color: transparent;
    border: 1px solid #5a5959;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-right: 16px;
    border-radius: 5px;
    transition: all 0.6s;
    display: inline-block;
}

.btn:last-child {
    margin-right: 0px;
}

.btn-1 {
    background-color: var(--color-one);
    color: var(--button-color-1);
    border: none;
}

.btn-1:hover {
    background-color: #fff;
}

.btn-2:hover {
    background-color: var(--button-color-2);
    color: var(--button-color-1);
}

.btn-3 {
    background-color: var(--background-color);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 10px 10px 0 0;
}

.btn-3:hover {
    background-color: var(--button-color-2);
    color: #fff;
}

.btn-4 {
    background-color: var(--button-color-1);
}

.btn-5 {
    background-color: #fff;
    border-radius: 50%;
    padding: 48px;
    font-size: 24px;
    color: var(--color-text);
    border: none;
}

.btn-6 {
    background-color: var(--button-color-1);
}

.btn-6:hover {
    background-color: var(--button-color-2);
    border: none;
    color: var(--button-color-1);
}

/* end button */